.VCODE img {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.hint {
    font-size: 13px;
    font-weight: bold;
}

body {
    font-size: 13px;
    background: #e3e3e3;
}

table th {
    font-size: 12px !important;
}

.navbar {
    border-radius: 0px;
    background: #FFF;
    box-shadow: 0 3px 5px #c8d1d3;
}

.navbar.navbar-fixed-bottom {
    box-shadow: 0 -3px 5px #c8d1d3;
}

.navbar .navbar-nav > li > a, .navbar .navbar-text {
    color: #000;
    font-size: 12px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    position: relative;
}

.navbar-default .navbar-nav > .active > a::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #337ab7;
    bottom: -2px;
    left: 0;
    z-index: 5;
}

.btn {
    font-size: 12px;
    border: 1px solid;
    -webkit-transition: all .4s linear, color .4s linear;
    -moz-transition: all .4s linear, color .4s linear;
    -o-transition: all .4s linear, color .4s linear;
    -ms-transition: all .4s linear, color .4s linear;
    transition: all .4s linear, color .4s linear;
}
.btn-success {
    background: #fff;
    color: #5cb85c;
}

.btn-primary {
    background: #fff;
    color: #337ab7;
}


/* Inline Radio buttons */
/*
<div class="inlineRadio">

    <label for="Users_tac">See the total amount of commission</label>

    <input id="ytUsers_tac" type="hidden" value="" name="Users[tac]" class="form-control">

    <label class="radio">
        <input id="Users_tac_0" value="0" checked="checked" type="radio" name="Users[tac]">
        <label for="Users_tac_0">No</label>
    </label>

    <label class="radio"><input id="Users_tac_1" value="1" type="radio" name="Users[tac]">
        <label for="Users_tac_1">Yes</label>
    </label>

    <span class="help-block error" id="Users_tac_em_" style="display: none"></span>

</div>
*/

.inlineRadio label:first-child {
    display: block;
}
.inlineRadio .radio {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}
input[type="radio"] + label {
    padding-left: 0;
    margin: 0;
}

label {
    margin: 8px 0;
}
.checkbox {
    margin-left: 20px;
}


.formBlocks {
    background: #f5f5f5;
    padding: 10px;
    margin: 15px 0;
}
