body {
    padding-bottom: 70px;
}

.btn, .form-control {
    border-radius: 0;
}
.longBtn {
    width: 250px;
}

.button-column {
    width: 90px !important;
}
.button-column i {
    font-family: fontAwesome;
    font-style: normal;
    padding: 5px;
}

.info {
    padding: 10px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
}
/*
label.checkbox {
    padding-left: 35px;
}

*/
.table-images {
    width: 90px;
    box-sizing: border-box;
}
.table-images > img {
    width: 50px;
}

.table td {
    vertical-align: middle !important;
}

.grid-view .summary, .list-view .summary {
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px 10px;
    background: #000;
    color: #fff;
}
.list-view .summary {
    margin-bottom: 20px;
}

/* Top Navigation
   ------------------------------*/

/*<div class="card">
    <div class="card-header">
        <div class="card-title">Page Title</div>
        <ul class="card-action">
            <li>
                <a href="/">
                    <i class="fa fa-refresh"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">

    </div>
</div>*/

.card {
    margin-top: 20px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 3px 3px 5px #c8d1d3;
}

.card .card-header {
    padding: 30px;
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 1px solid #dfe6e8;
    border-left: 0px solid transparent;
    color: #666;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.card .card-header .card-title {
    -ms-flex: 1;
    flex: 1;
    font-size: 20px;
    color: green;
}

.card .card-header .card-action {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card .card-header .card-action > li > a {
    color: #dfe6e8;
}

.card .card-header .card-action > li > .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 2px;
}

.card .card-body {
    padding: 10px 30px;
}
/*===============================*/


/* Top Navigation
   ------------------------------*/
#top_navigation {
    margin-bottom: 0px;
}
/*===============================*/


/* Login Page
   ------------------------------*/
#login_wrapper {
    position: absolute;
    width: 800px;
    height: 300px;
    margin-top: -150px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 30px 40px;
}

#login_text {
    border-right: 1px solid #f5f5f5;
}

#login_form {
    padding-top: 30px;
}
/*===============================*/


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#mainmenu{
    margin-top: 56px;
}
#footer{
    text-align: center;
}

.operations li {
    line-height: 20px;
    float: left;
    padding-left: 20px;
    list-style: none;
}
.right{
    float: right;
}

span.cke_skin_kama {
    width: 70%
}
#footer{
    background: #999;
}
/*#mainmenu ul li:hover > ul { display: block; }*/

.header{
    border: 1px solid #0077b3;
    background: #222;
    color: #cccccc;
    padding: 10px;
}
.outer{
    border: 1px solid #cccccc;
    padding: 20px;
}

#logForm {
    margin-top: 30px;
}

.errorMessage{
    color: orangered;
    font-weight: bold;
    font-size: 0.8em;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        text-indent: 10px;
    }
}


/* Scrollbar
---------------------------------*/
/*  IE scrollbar  */
body {
    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;
}

/* mozilla scrollbar */
@-moz-document url-prefix(http: //),url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0, 255, 0) !important;
    }
    thumb, scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0, 0, 255) !important;
    }
    thumb:hover, scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255, 0, 0) !important;
    }
    scrollbarbutton {
        display: none !important;
    }
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}
/* webkit scrollbar */
.scrollbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: whiteSmoke;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: white;
    font-family: sans-serif;
}
 ::-webkit-scrollbar {
    background: transparent;
}
 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid whiteSmoke 4px;
}
 ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.items img {
    max-width: 66px;
}
